.intro-content {
    position: relative;
    top: -1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    height: 100vg;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img {
    max-width: 100%;
    height: auto;
}