.intro-header h2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5rem;
}

.intro-content {
    position: relative;
    top: -1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    height: 100vg;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img {
    max-width: auto;
    height: auto;
}

.intro-img img {
    width: 100%;

}


